{% extends "base.html" %}
{% block title %}Assignment{% endblock %}
{% block logo %}Create new assignment{% endblock %}
{% block nav %}{% endblock %}

{% block body %}
<div class="container">
    <div class="card mt-5 py-2" style="background-color: #37517e;">
        <div class="card-body"><h3 class="text-light">Create New Assignment</h3></div>
    </div>
    <div class="container my-4 p-5" style="background-color: #f3f5fa; border: 1px solid #dfdfff;">
        <form action="/classroom/{{ session['class_code'] }}/assignment/create", method="POST">
            <div class="mb-4">
                <label for="assignment_name">
                    <h5>Assignment name:</h5>
                </label>
                <input class="form-control w-50" type="text" maxlength="30" id="assignment_name" name="assignment_name" required>
            </div>
            <div class="mb-3">
                <label for="assignment_desc"><h6>Problem statement:</h6></label>
                <textarea class="form-control" type="text" maxlength="80" id="assignment_desc" name="assignment_desc" required></textarea>
            </div>
    
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-3">
                    <label for="assignment_input_format"><h6>Input format</h6></label>
                    <textarea class="form-control" maxlength="80" id="assignment_input_format" name="assignment_input_format" required></textarea>
                </div>
                <div class="col-lg-4 col-md-12 mb-3">
                    <label for="assignment_output_format"><h6>Output format</h6></label>
                    <textarea class="form-control" maxlength="80" id="assignment_output_format" name="assignment_output_format" required></textarea>
                </div>
            </div>
            <div class="row">
                <template id="templateInputCase">
                    <textarea class="form-control mb-2" name="assignment" id="" placeholder="" rows="1"></textarea>
                </template>
                <div class="col-lg-4 col-md-12">
                    <label><h6>Input Cases</h6></label>
                </div>
                <div class="col-lg-4 col-md-12">
                    <label><h6>Output Cases</h6></label>
                </div>
                <div class="col-auto"></div>
    
                <div class="col-lg-4 col-md-12 mb-3" id="inputCases">
                    <textarea class="form-control mb-2" name="assignment_input_case_0" id="assignment_input_case_0" placeholder="Input case 1" rows="1"></textarea>
                </div>
    
                <div class="col-lg-4 col-md-12 mb-3" id="outputCases">
                    <textarea class="form-control mb-2" name="assignment_output_case_0" id="assignment_output_case_0" placeholder="Output case 1" rows="1"></textarea>
                </div>
    
                <div class="col-lg-4 col-md-12">
                    <button type="button" class="btn-lightblue px-3 py-2" onclick="addInputOutputCase()">Add case</button>
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col-md-8 mb-3 col-sm-12">
                    <label for="assignment_constraints"><h6>Constraints</h6></label>
                    <input class="form-control" type="text" maxlength="80" id="assignment_constraints" name="assignment_constraints">
                </div>
                <div class="col-md-4 col-sm-12">
                    <label for="assignment_deadline"><h6>Deadline</h6></label>
                    <input class="form-control" type="datetime-local" id="assignment_deadline" name="assignment_deadline">
                </div>
            </div>
    
            <button type="submit" class="btn-lightblue px-3 py-2">Create</button>
            <br><br><br><br><br>
        </form>
    </div>
</div>
<div class="container py-5"></div>

{% endblock %}

{% block scripts %}
<script>
    function addInputOutputCase() {
        const inputCases = document.getElementById("inputCases");
        const outputCases = document.getElementById("outputCases");
        const templateInputCase = document.getElementById("templateInputCase");

        let lastIndex = 0;
        for (let child of inputCases.children) {
            const childName = child.name.split("_");
            if (lastIndex == childName[childName.length - 1])   lastIndex++;
        }

        let inputCaseNode = templateInputCase.content.cloneNode(true);
        let inputTextarea = inputCaseNode.querySelector("textarea");

        inputTextarea.name = inputTextarea.name + "_input_case_" + lastIndex;
        inputTextarea.id = inputTextarea.name;
        inputTextarea.placeholder = "Input case " + (lastIndex+1);
        inputCases.appendChild(inputCaseNode);

        let outputCaseNode = templateInputCase.content.cloneNode(true);
        let outputTextarea = outputCaseNode.querySelector("textarea");

        outputTextarea.name = outputTextarea.name + "_output_case_" + lastIndex;
        outputTextarea.id = outputTextarea.name;
        outputTextarea.placeholder = "Output case " + (lastIndex+1);
        outputCases.appendChild(outputCaseNode);

        console.log(lastIndex);
    }
</script>
{% endblock %}