<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Coding Classroom</title>


    <!-- Open sans google font -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/icofont/icofont.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/venobox/venobox.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">

    <!-- Main css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css')}}">

</head>

<body>
    <header class="fixed-top">
        <div class="container-fluid" id="header" style="background-color: #37517e;">
            <div class="container d-flex align-items-center">
                <img class="mx-2 rounded-circle" src="{{ url_for('static', filename = 'img/LOGO.png') }}" alt="logo"
                    width="50" height="50" />
                <span class="text-light">
                    <h2>Coding Classroom</h2>
                    <!--{% block logo %}{% endblock %}-->
                </span>

                <!-- Uncomment below if you prefer to use an image logo -->


                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="ml-5"><a href="/" class="align-top">Home</a></li>
                        <li class="ml-1"><a href="/about">About</a></li>
                        <li>
                            {% block nav %}{% endblock %}
                            {% if "email" in session %}

                            {% endif %}
                        </li>

                        {% if "email" not in session %}
                        <li class="ml-auto">
                            <a href="#about" class="get-started-btn scrollto text-light" data-toggle="modal"
                                data-target="#LoginModal">Sign In</a>
                        </li>
                        <li>

                            <a href="#about" class="get-started-btn scrollto text-light align-items-center"
                                data-toggle="modal" data-target="#SignUpModal">Sign Up</a>
                        </li>
                        {% else %}

                        <li class="nav-item text-light text-sm-dark">
                            <i class='bx bx-user' ></i>
                            {{ session["name"] }}
                        </li>
                        <li class="py-1">
                            <a class="btn btn-block" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="py-1">
                            <form action="/logout" method="POST">
                                <h4><button type="submit" style="all:unset"><i
                                    class="fas fa-sign-out-alt text-light"></i></button></h4>
                            </form>
                        </li>
                        {% endif %}


                    </ul>
                    <div class="collapse navbar-collapse" id="navbarContent">

                    </div>
                </nav><!-- .nav-menu -->
            </div>


        </div>
        <div class="ml-auto mr-3 my-1 w-25">{% include 'flash.html' %}</div>
    </header><!-- End Header -->




    <div style="height: 10vh;"></div>




    {% if "email" not in session %}
    {% include 'login_modal.html' %}
    {% endif %}

    {% block body %}

    {% endblock body %}

    <footer id="footer" style="position: fixed; bottom: 0; width:100%; height: 6vh; z-index: 100;">

        <div class="container footer-bottom clearfix py-2">
          <div class="copyright">
            Built by <strong><span>Team Include Innovation</span></strong>.
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
            <div class="social">
                <a href="" class="badge badge-light"><i class="ri-twitter-fill"></i></a>
                <a href="" class="badge badge-light"><i class="ri-facebook-fill"></i></a>
                <a href="" class="badge badge-light"><i class="ri-instagram-fill"></i></a>
                <a href="" class="badge badge-light"> <i class="ri-linkedin-box-fill"></i></a>
              </div>
          </div>
        </div>
      </footer>
    {% block scripts %}

    {% endblock scripts %}
    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery.easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/waypoints/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/venobox/venobox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/owl.carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>