{% extends "base.html" %}
{% block title %}Subject{% endblock %}
{% block logo %}{{ classroom["name"] }}{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
<div class="container">


    <div class="card my-4 text-light" style="background-image: url(../static/img/bg.png);">
        <div class="card-body">
            <div class="row align-items-center p-2">
                <span class="h2 text-light col-auto" style="font-weight: 900;">{{ classroom["name"] }} </span>
                <span class="col-auto ml-auto font-weight-bold">Class code: {{ classroom["code"] }}</span>
            </div>
        </div>
        <div class="card-footer px-5">
            <div class="row align-items-center">
                <h6 class="col-auto text-light">{{ classroom["description"] }}</h6>
                <h5 class="col-auto ml-auto">{{ classroom["teacher"].name }}</h5>
            </div>


        </div>
    </div>


    <div class="container" style="background-color: #f3f5fa; border: 1px solid #dfdfff; margin-bottom: 200px;">


        <div class="row mt-4 align-items-center ml-1 mb-3">
            <h4 class="col-3">Assignments</h5>
                {% if session["user_type"] == "teacher" %}
                <div class="offset-5 w-auto col-4">
                    <a class="btn-lightblue px-5 py-2 align-items-center"
                        href="/classroom/{{ classroom['code'] }}/assignment/create"><i class="far fa-plus-square"></i>
                        New assignment</a>
                </div>
                {% endif %}
        </div>


        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">
                <div class="row">


                    {% for idx in range(0, assignments|length, 3) %}
                    {% for assignment in assignments[idx:idx+3] %}
                    <div class="col-lg-6 my-3">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <h1 style="font-size: 5rem;"><i class='bx bx-notepad'></i></h1>

                            <div class="member-info">
                                <h4> <a href="/assignment/{{ assignment['code'] }}" style="color: #37517e;">{{ assignment['name'] }}</a></h4>
                                <span>{{ assignment['desc'] }}</span>
                                <span >
                                    Due:
                                    <span class="
                                                    {% if assignment.deadline and assignment.deadline < current_time() %}
                                                        text-danger
                                                            
                                                    {% else %}
                                                    text-success
                                            
                                                    {% endif %}">
                                        {{ strftime(assignment.deadline) }}
                                    </span>
                                </span>
                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% endfor %}



                </div>
                

            </div>
        </section>

        {% if session["user_type"] == "teacher" %}
        <div class="row mt-4 align-middle mx-auto">
            <h5 class="col-auto mr-auto">Students</h5>
            <!-- <div class="col-sm-6 w-auto col-12 text-center">
                    <!-- <input type="email" placeholder="Enter student email" class="form-control"/> -->
            <!-- <button type="button" class="btn btn-sm btn-outline-success">Add a student</button>
                </div> -->
        </div>

        <table class="table table-hover mx-auto">
            <thead>
                <th>Sr No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Remove Student</th>
            </thead>
            {% for student in classroom.students %}
            <tr>
                <td class="">{{ loop.index }}.</td>

                <td> {{ student.name }} </td>

                <td class="font-italic">({{ student.email }})</td>
                <td>
                    <a href="/classroom/{{ classroom.code }}/remove/{{ student.id }}" class="">
                        <h4><i class='bx bx-trash text-danger'></i></h4>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>


        {% endif %}
    </div>



</div>


{% endblock %}

{% block scripts %}
<script>
    function confirmDelete(val) {
        if (val == "{{ classroom['name'] | safe }}")
            document.getElementById('confirm_delete').classList.remove("disabled");
        else
            document.getElementById('confirm_delete').classList.add("disabled");
    }
</script>
{% endblock %}