{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block head %}



{% endblock head %}
{% block body %}

<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>Welcome to Coding Classroom</h1>
                <h2>An online coding assignment platform.</h2>
                <div class="d-lg-flex">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="www.google.com" class="venobox btn-watch-video"
                        data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{{ url_for('static', filename='img/hero-img.png') }}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>
<div class="container-fluid p-5" style="background-color: #37517e;"></div>

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Coding Classroom aims to provide the teachers and students the best service.
            Teachers can make new classes and post their assignments and students can submit in this user friendly interface.</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-code-block"></i></div>
            <h4><a href="">Multilanguage Support</a></h4>
            <p>Program in your language of choice, we currently support C, C++, Java, Python. We are adding more languages every update!</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-rocket"></i></div>
            <h4><a href="">Faster Execution</a></h4>
            <p>We process your code on our own servers rather than using an external API. So you will see your results as soon as you press the run button.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-brain"></i></div>
            <h4><a href="">Logic Building</a></h4>
            <p>Programming is a great way to improve problem solving skills and critical thinking ability. Keep completing assignments on our site while enhancing your logical thinking abilities.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-copy"></i></div>
            <h4><a href="">Plagiarism Checking</a></h4>
            <p>Do your assignments by your own! The plagiarism check can detect copied code blocks of your assignments.</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <div class="container my-5"></div>


{% endblock body %}
{% block scripts %}

{% endblock scripts %}